
:root{
    --color-primario: #f3f5fc;
    --color-secundario:#0A3871;
    --color-terciario: #D8DFE8;
    --color-cuaternario:#495057;
   
}

*{
    background: var(--color-primario);
    font-family: 'Inter';
    font-weight: 400;
    font-size: 1.5rem;
    line-height: 150%;
 }
 

.logo{
    padding-top: 0.625rem;
    margin-left: 0.625rem;
    width: 10%;
 }
main{
    display: flex;
    margin-bottom: 6.25rem;
    margin: 5.25rem;
    padding: flex;
}

.text-area{
    height: 25rem;
    border: none;
    color: var(--color-secundario);
    margin-top: 0.625rem;
    text-transform: lowercase;
    position: flex;
    

 }
::placeholder {color: var(--color-secundario);}
  .text-area:focus{
    outline: none;

  }

.section2{
    text-align: center;
}
.mensaje{
    
    background: white;
    background-image: url("./imagen/Muñeco.png");
    background-repeat: no-repeat;
    border: none;
    border-radius: 1.5rem;
    color: var(--color-secundario);     
    margin-top: 0.525rem;
    padding-left: 1.25rem;
    position:flex ;
    
}
.mensaje:focus{
    outline: none;
}
.botones{
    display: flex;
    margin-top: 10%;
    gap: 5%;
    
}
.btn-desencriptar{
    background: var(--color-terciario);
    border: 1px solid var(--color-secundario);
    border-radius: 1.5rem;
    color: var(--color-secundario);
    cursor: pointer;
    height: 4.1875rem;
    width: 328px;

}
.btn-encriptar{
    background-color: var(--color-secundario) ;
    border: 1px solid var(--color-secundario);
    border-radius: 1.5rem;
    color: white;
    cursor: pointer;
    height: 4.1875rem;
    width: 328px;
    
}
.copiar{ 
        
    border: 1px solid var(--color-secundario);
    border-radius: 1.5rem;
    color: var(--color-secundario); 
    cursor: pointer;
    height: 3rem;
    
    margin-top: 0.2rem; 
    position:flex;
    width: 250px;
}
.informacion {
    color: var(--color-cuaternario);
    font-size: 40%;
}


@media (max-width: 1100px) {
    
    .logo{
        padding-top: 5rem;
        margin-left: 2rem;
        width: 40%;
     }
    .main{
        display: contents;
        width: 50%;
        padding: auto;
        flex-direction: column;
       
    
    }
    .botones{
        flex-direction:column ;
        width: 100%;        
        gap: 1rem;
        
    }
    
    .mensaje{
        height: 100%;
        margin-left: 5%;
        margin-inline-end: auto;
        background-image: none;
    }




}